
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.filter-section {
    position: relative;
    top: 40px;
    left: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 100%;
}

.filter-section label {
    font-size: 1.2em;
    margin-right: 10px;
}

.filter-section select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.car-sale-section {
    padding: 20px;
    margin-top: 60px; 
}

.title {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 1024px) {
    .car-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.car-card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInUp 0.2s ease-in-out forwards;
    opacity: 0;
}

.car-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.car-blob {
    width: 100%;
    height: 180px;
    background: #1d7874ff;
    display: flex;
    margin: 15px auto;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.car-info {
    padding: 15px;
    text-align: left;
}

.car-name {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
}

.car-price {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 10px;
    color: #27ae60;
}

.car-description {
    font-size: 0.9em;
    color: #555;
    line-height: 1.5;
}
