<Project>
    <PropertyGroup>
        <PublishProtocol>MSDeploy</PublishProtocol>
        <PublishProvider>AzureWebSite</PublishProvider>
        <PublishUrl>https://waws-prod-blu-001.publish.azurewebsites.windows.net:443/msdeploy.axd</PublishUrl>
        <SiteName>my-backend-api</SiteName>
        <UserName>$my-backend-api</UserName>
        <Password>YOUR_DEPLOYMENT_PASSWORD</Password>
    </PropertyGroup>
</Project>
