.requests-box {
    border: 2px solid #ccc; 
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .requests-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .request-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .request-card p {
    margin: 5px 0;
  }
  
.accept {
    background-color: #1D7874;
}

.deny {
    background-color: red;
}

  .request-card strong {
    font-weight: bold;
  }
  
  @media (max-width: 1200px) {
    .requests-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .requests-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .requests-grid {
      grid-template-columns: 1fr;
    }
  }
  
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
}

.loading-screen::before {
  content: '';
  border: 4px solid transparent;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
