body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: auto;
}

main {
    height: 100%;
}

.hero {
    text-align: center;
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: black;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.cta-button {
    background-color: #1D7874;
    color: white;
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    color: white;
    background-color: #7C6C77;
}

.abonnementen-features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.abonnementen-card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.abonnementen-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    color: black;
}

.abonnementen-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}
