.requests-box {
  border: 2px solid #ccc; 
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.requests-grid {
  display: grid;
  gap: 20px;
  grid-auto-rows: auto; 
  justify-content: center;
}

.request-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 350px; 
  height: auto;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.request-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.request-card p {
  margin: 5px 0;
}

.request-card strong {
  font-weight: bold;
}


.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
  color: #f0f0f0;
}

.loading-screen::before {
  content: '';
  border: 4px solid transparent;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fullscreen-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreen-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  min-width: 350px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ff0000;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #000;
}

.fullscreen-card h1 {
  grid-column: 1 / span 2;
  text-align: center;
  margin: 0 0 20px;
}

.person, .vehicle, .rental, .business, .blob {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  height: 300px;
}



.blob img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .fullscreen-card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .fullscreen-card h1 {
    grid-column: 1;
  }

  .blob {
    grid-column: 1;
  }
}
